/*Обнуление*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
:focus {outline: 0;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {-webkit-appearance: none;-moz-appearance: none;}
input[type=search] {-webkit-appearance: none;-moz-appearance: none;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
textarea {overflow: auto;vertical-align: top;resize: vertical;}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;max-width: 100%;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
html {font-size: 100%; /* 1 */-webkit-text-size-adjust: 100%; /* 2 */-ms-text-size-adjust: 100%; /* 2 */}
a:focus {outline: thin dotted;}
a:active, a:hover {outline: 0;}
img {border: 0; /* 1 */-ms-interpolation-mode: bicubic; /* 2 */}
figure {margin: 0;}
form {margin: 0;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */padding: 0;white-space: normal; /* 2 */*margin-left: -7px; /* 3 */}
button, input, select, textarea {font-size: 100%; /* 1 */margin: 0; /* 2 */vertical-align: baseline; /* 3 */*vertical-align: middle; /* 3 */}
button, input {line-height: normal;}
button, select {text-transform: none;}
button, html input[type="button"], /* 1 */input[type="reset"], input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */*overflow: visible;  /* 4 */}
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */*height: 13px; /* 3 */*width: 13px; /* 3 */}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}  textarea {overflow: auto; /* 1 */vertical-align: top; /* 2 */}
table {border-collapse: collapse;border-spacing: 0;}
html, button, input, select, textarea {color: #222;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Playfair Display, serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: white;
    background:  #242B33;
}

body::-webkit-scrollbar {
        width: 25px
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    /*background-color: #636363;*/
    background: linear-gradient(to top, #D4C17F, #242B33);
    border-radius: 15px;
}
body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #D4C17F, #242B33);

}
body::-webkit-scrollbar-button {
    background-color: #D4C17F;
    border-radius: 15px 0;
}
img {
    max-width: 100%;
    height: auto;
}

.header {
    /*background-color: black;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
    /*padding-top: 30px;*/
}
.header-logo-title {
    font-family: Post No Bills Jaffna SemiBold, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-logo-subtitle{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header_item {
    margin-right: 40px;

}
.header_item:last-child {
    margin-right: 0;
}
.header_link{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active {
    opacity: .65;
}

.intro {
    min-height: 840px;
    background-size: cover;
    background-image: url("img/header.jpg");
}
.intro-wrapper {
    width: 582px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    display: block;
}
.intro-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #D4C17F;
}
.intro-pic {
    margin-top: 100px;
}

.intro-contacts{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*column-gap: 90px;*/
    justify-content: spaform_card_inputce-between;
    align-items: center;
}
.intro-contacts-place, .intro-contacts-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.intro-contacts-place-thumb {
    margin-right: 15px;
}

.intro-contacts-place-title, .intro-contacts-number-title{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

}
.options {
    background: #242B33;

}
.options-wrapper {
    max-width: 782px;
    margin: 0 auto;
    position: relative;
}
.options-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding-top: 120px;
    padding-bottom: 120px;
}
.options-card {
    text-align: center;
}
.options-card-title {
    margin-top: 53px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.option-background{
    position: absolute;
    background:  #242B33;
    z-index: 0;
    margin-left: 770px;
}

.option-background-title {
    font-weight: bold;
    font-size: 400px;
    /*line-height: 533px;*/
    text-align: center;
    color: #FFFFFF;
    opacity: 0.02;
}

.options_text {
    text-align: start;
    margin-top: 100px;
    font-family: Arial, serif;
    font-size: 80px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.2);
    background: url(https://images-na.ssl-images-amazon.com/images/I/61Wrpmlk6BL._SY450_.jpg) repeat-x;
    -webkit-background-clip: text;
    background-size: contain;
    animation: fire 15s linear infinite;
}

.flats_wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.flats_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 100px;
}

.flats_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}
.flats_card{
    position: relative;
    z-index: 2;
    margin-top: 30px;
    overflow: hidden;
}
.flats_thumb {
    transition: 0.15s;
}
.flats_thumb:hover {
    transform: scale(1.05);
}
.flats_card_title{
    position: absolute;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    z-index: 10;
    padding-bottom: 10px;
    transform: translateY(-250%);
    margin-left: 50px;
}
.form {
    background: url("img/form.jpg");
}
.form_wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 180px;
}
.form_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    padding-top: 180px;
    padding-bottom: 30px;
}
.form_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    justify-content: space-between;
    align-items: center;
}
.form_desc{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.form_inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 35px;
    justify-content: space-between;
    align-items: center;
}
/*.card_input {*/
/*    margin-right: 30px;*/
/*}*/
/*.card_input:nth-of-type(even) {*/
/*    margin-right: 0;*/
/*}*/

.form_input_desc{
    /*padding-top: 20px;*/
    /*min-width: 535px;*/
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;

}

.input-card {
    background: #FFFFFF;
    opacity: 0.2;
    width: 255px;
    height: 50px;
    padding-left: 95px;
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
}

.input-card::placeholder {
    color: black;
}
.button-card {
    width: 255px;
    height: 50px;
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    border: none;
    color: white;
    background: linear-gradient(-45deg, #636363, #a2ab58);
    background-size: 400% 200%;
    animation: gradient 5s ease infinite;
}
.button-card:hover {
    background: linear-gradient(to bottom, #636363, #a2ab58);
}

/*VIDEO*/

.video{
    width: 100%;
}
.video_wrapper {
    max-width: 720px;
    margin: 0 auto;
    position: relative;

}
.video_item {
    padding-top: 56.25%;
}
.video_elem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 180px;
}

#map {
    width: 1100px;
    height: 358px;
}
.maps_wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 180px;
}

.maps_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 100px;
}
.questions_wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 180px;
}
.questions_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 50px;
}
.questions_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 190px;
}




footer {
    background: #2D343C;
}
.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-top: 72px;
    padding-bottom: 60px;
}

.about {
    display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about_item {
    margin-right: 166px;
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}
.about_item:last-child {
    margin-right: 0;
}
.about_li {
    padding-bottom: 15px;
}
.about_li:last-child {
    padding-bottom: 0;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes fire {
    0% {
        background-position: left 0 top 25px;
    }
    50% {
        background-position: left 130px top -35px;
    }
    100% {
        background-position: left 260px top 0;
    }
    
}